<a href="https://colab.research.google.com/github/AVJdataminer/COVID19_GC/blob/master/COVID19_GuidedCapstoneSteps_1_and_2_noapi_answerkey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# COVID 19 Guided Capstone Steps 1 and 2

In this notebook we will work through both the first and 
the second step in the [Data Science Method](http://bit.ly/363hKAM).

 With a clear problem identification completed we can progress on to the second step of Data Wrangling, this consists of multiple components including; Data Collection, Data Organization, Data Definitions, and Data Cleaning.



**The Data Science Method**  


1.**Problem Identification**
 *  Problem statement formation 
 *  Context 
 * Criteria for success 
 * Scope of solution space 
 * Constraints 
 * Stakeholders 
 * Data sources


2.   **Data Wrangling** 
  * Data Collection
      - Locating the data
      - Data loading
      - Data joining
   * Data Organization
      -  File structure
      -  Git & Github
  * Data Definition
      - Column names
      - Data types (numeric, categorical, timestamp, etc.)
      - Description of the columns
      - Count or percent per unique values or codes (including NA)
      - The range of values or codes  
  * Data Cleaning
      - NA or missing data
      - Duplicates
 
3.   Exploratory Data Analysis 

4.   Pre-processing and Training Data Development

5.   Modeling 

6.   Documentation

# Problem Identification

An [outbreak of COVID-19 virus](https://en.wikipedia.org/wiki/2019%E2%80%9320_coronavirus_pandemic) started in December 2019 and at the time of the creation of this project was continuing to spread throughout the world. Many governments recommended only essential outings to public places and closed most business that do not serve food or sell essential items. An excellent [spatial dashboard](https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6) built by Johns Hopkins shows the daily confirmed cases by country.

## Problem Statement
**<font color='DarkBlue'> What is the business problem you're investigating and what hypothesis can be made to support the business outcome?</font>**

The problem we are looking to solve is to investigate and predict the spread of the coronavirus by region across the globe.

## Context
**<font color='DarkBlue'> Define any additional context for solving the problem?</font>**

The problem is primarily focused on forcasting the spread of the COVID19.

## Criteria for success
In the absence of clearly defined success criteria and scope it can be difficult to identify when a project is complete.  
**<font color='DarkBlue'> What do we expect to do with the model we create and how accurate must it be for us to use it in confidence? </font>**
We expect to forecast the next day ahead number of confirmed coronavirus cases by region across the globe. We expect the model performance to vary by region with an overall accuracy above 70% for the model.

## Scope of solution space
**<font color='DarkBlue'> What are the details of the tasks to be completed to reach the solution? </font>**

Following the Data Science Method, we will complete Data Wrangling, EDA, and Modeling in a way to support a deeper understanding of the data and stratify the data as we find appropriate.

## Constraints 
If this analysis is meant to form recommendations we would describe the limitations of those recommendations here.

## Stakeholders
Given this project is on a topic affecting everyone, all people could be considered the stakeholders.  

**<font color='DarkBlue'> Who will the results of this project be reported to?</font>**

## Data Sources
**<font color='DarkBlue'> What data will be used in this analysis?</font>**. 

We will be accessing a [dataset](https://www.openblender.io/#/dataset/explore/5e7a0d5d9516296cb86c6263) organized by Federico Riveroll on the Open Blender platform. He wrote a [Medium article](https://towardsdatascience.com/gather-all-the-coronavirus-data-with-python-19aa22167dea) using these data along with news and financial data for analysis. We have downloaded the data from OpenBlender and will access that data from a CSV file.

# Data Wrangling

## Data Collection

First we load the needed packages and modules into python. Including the new Open Blender package. Then we will load the data into a pandas data frame for ease of use.

In [0]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt
import json
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Read in the saved csv file to 'df' to run the rest of the notebook.

In [0]:
file='https://raw.githubusercontent.com/AVJdataminer/COVID19_GC/master/%20data/global_confirmed.csv'
df=pd.read_csv(file)
df.head()

   confirmed  deaths   timestamp  ... timestamp.date      lat recovered
0       29.0     0.0  1585483200  ...     2020-03-29 -15.4167       0.0
1      609.0    40.0  1585483200  ...     2020-03-29  26.0000     132.0
2     2139.0     7.0  1585483200  ...     2020-03-29 -35.6751      75.0
3      156.0     0.0  1585483200  ...     2020-03-29  52.9399       NaN
4     2840.0    22.0  1585483200  ...     2020-03-29  52.9399       NaN

[5 rows x 9 columns]

## Data Organization

Data organization in this project is going to be completed through a basic project folder structure we create. As you read in the Medium article introducing the data wrangling step often this is completed using Github or a module such as cookiecutter. Now that we have our data and our notebook pointed our working project directory let's start by printing the current file location to review the files in our working directory.

**<font color='DarkBlue'> Finish the statement below by assigning the path variable.</font>**

In [0]:
path = os.getcwd()

In [0]:
print ("The current working directory is %s" % path)

The current working directory is /content

**<font color='DarkBlue'>Print the files in your working directory.</font>**

In [0]:
os.listdir()

['.config', 'global_confirmed.csv', 'sample_data']

## Data Definition
Review Column Names, Data Types, and null values.

### Column Names 
<font color='DarkBlue'> **Print the columns names of the entire dataframe**</font>

In [0]:
df.columns

Index(['confirmed', 'deaths', 'timestamp', 'province_state', 'long',
       'country_region', 'timestamp.date', 'lat', 'recovered'],
      dtype='object')

### Data Types 
Review which columns are integer, float, categorical, or dates. Make sure the data type loaded properly in the dataframe.

<font color='DarkBlue'> **Using the `pandas.dtypes` function print the variable names and associated datatypes.**</font>

In [0]:
vo = pd.DataFrame(df.dtypes).reset_index()
vo.columns = ['VarName', 'DType']
vo

          VarName    DType
0       confirmed  float64
1          deaths  float64
2       timestamp    int64
3  province_state   object
4            long  float64
5  country_region   object
6  timestamp.date   object
7             lat  float64
8       recovered  float64

<font color='DarkBlue'> **The `df.info()` function also prints the count of non-null values per column. Use this function to review the column names, null value counts and data types of your data frame.**</font>

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15835 entries, 0 to 15834
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   confirmed       15834 non-null  float64
 1   deaths          15834 non-null  float64
 2   timestamp       15835 non-null  int64
 3   province_state  4923 non-null   object
 4   long            15835 non-null  float64
 5   country_region  15835 non-null  object
 6   timestamp.date  15835 non-null  object
 7   lat             15835 non-null  float64
 8   recovered       14691 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 1.1+ MB

Some of these column names are easy to understand but others are not as clear. We have a metadata file with information about each column to help us understand what the column names refer to. Let's review the about tab on the OpenBlender page.

[OpenBlender Metadata](https://www.openblender.io/#/dataset/about/5e7a0d5d9516296cb86c6263/edition)

There are some null or missing values we will need to mitgate in a later step. However, let's also look at the counts of unique values or codes per column first.

### Count of unique values or codes
<font color='DarkBlue'> **Print the count of unique values for every column regardless of data type.**</font>

In [0]:
df.nunique()

confirmed         1229
deaths             265
timestamp           67
province_state      80
long               265
country_region     179
timestamp.date      67
lat                263
recovered          674
dtype: int64

<font color='DarkBlue'> **Print the percent of unique values per column.Use the `df.nunique` and the size of the dataframe to calculate the percentages.**</font>

In [0]:
print(df.nunique()/df.shape[0])

confirmed         0.077613
deaths            0.016735
timestamp         0.004231
province_state    0.005052
long              0.016735
country_region    0.011304
timestamp.date    0.004231
lat               0.016609
recovered         0.042564
dtype: float64

For categorical columns it is much more helpful to know what the unique codes are. <font color='DarkBlue'> **For example, if we look at the `country_region` or `province_state` column, let's print out the different countries in the data frame.**</font>

In [0]:
df.country_region.value_counts()

China             2188
Canada             803
France             662
Australia          537
United Kingdom     472
                  ...
Laos                 3
Guinea-Bissau        3
Burma                2
MS Zaandam           1
Botswana             1
Name: country_region, Length: 179, dtype: int64

### Range of values per column

<font color='DarkBlue'>**Print the minimum and maximum values of each column using the aggregate function.**</font>

In [0]:
df.agg([min, max]).T

                        min         max
confirmed                 0      140886
deaths                    0       10779
timestamp        1579694400  1585483200
long                 -75152      149124
country_region  Afghanistan    Zimbabwe
timestamp.date   2020-01-22  2020-03-29
lat                  -28167       48196
recovered                 0       62570

<font color='DarkBlue'> **Review the numeric data sets summary statistics.**</font>

In [0]:
df.describe().T

             count          mean  ...           75%           max
confirmed  15834.0  5.389639e+02  ...  3.200000e+01  1.408860e+05
deaths     15834.0  2.118214e+01  ...  0.000000e+00  1.077900e+04
timestamp  15835.0  1.582532e+09  ...  1.583928e+09  1.585483e+09
long       15835.0  6.240514e+01  ...  9.000000e+01  1.491240e+05
lat        15835.0  9.128155e+01  ...  4.160860e+01  4.819600e+04
recovered  14691.0  1.623189e+02  ...  1.000000e+00  6.257000e+04

[6 rows x 8 columns]

## Data Cleaning

### Handle the missing and NA values
Run the code below to print out the percent of each feature that is missing.

In [0]:
nas=pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

                 percent
province_state  0.689106
recovered       0.072245
deaths          0.000063
confirmed       0.000063

In [0]:
df.isnull().sum().sort_values(ascending=False)

province_state    10912
recovered          1144
deaths                1
confirmed             1
lat                   0
timestamp.date        0
country_region        0
long                  0
timestamp             0
dtype: int64

**<font color='DarkBlue'> We want to maintain as much data as possible, therefore we will fill null values in `province_state` with 'missing` and the others with with zero.</font>**

In [0]:
df['province_state'] = df['province_state'].fillna('missing')

In [0]:
df['recovered'].fillna(0, inplace=True)
df['deaths'].fillna(0, inplace=True)
df['confirmed'].fillna(0, inplace=True)

In [0]:
df.isnull().sum().sort_values(ascending=False)

recovered         0
lat               0
timestamp.date    0
country_region    0
long              0
province_state    0
timestamp         0
deaths            0
confirmed         0
dtype: int64

### Look for duplicate rows
Run the code below to print out the duplicated rows.

In [0]:
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF

     confirmed  deaths   timestamp  ... timestamp.date      lat recovered
250       17.0     0.0  1585396800  ...     2020-03-28  32.3078       2.0
272      548.0     3.0  1585396800  ...     2020-03-28  30.6171     536.0
273      135.0     0.0  1585396800  ...     2020-03-28  37.5777     133.0
281      936.0     1.0  1585396800  ...     2020-03-28  27.6140     934.0
282      641.0     0.0  1585396800  ...     2020-03-28  32.9711     631.0

[5 rows x 9 columns]

Now delete the duplicates from the dataframe.

In [0]:
df.drop_duplicates(keep=False, inplace=True)

## Export clean data to a new csv file 
In order to bring the changes we made here into the next notebook we are going to write out the updated data frame to a new csv file.

<font color='DarkBlue'> **Export the processed dataframe as a csv file to the data folder we created earlier. Name this new csv file `step2_output.csv` and set the paramter, index=False.**</font>

In [0]:
df.to_csv('data/step2_output.csv',index=False)

The data transformations created in this step of the DSM are all generally steps to be applied to any data science project. However, the decisions we made about how to handle the missing and NA data are specific to the problem at hand. In the next step of the DSM and the next Guided Capstone Notebook you will see how all these steps prepare the data for exploratory data analysis.